<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/borat-2-fotogramas-1605693024.jpg?crop=1.00xw:1.00xh;0,0&resize=480:*);">
    <div class="container">
      <h1><%= @list.name  %></h1>
    </div>
  </div>

  <div class="movie-card">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <img src="<%= bookmark.movie.poster_url %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <h2 class="card-trip-pricing"><%= bookmark.movie.rating %></h2>
      </div>
      <%= link_to "Delete this movie", bookmark_path(bookmark), method: :delete, data: {confirm: 'Are you sure you want to delete this movie?'} %>
    </div>
    <% end %>
    <%= link_to "Edit", edit_list_path(@list) %>
    <%= link_to "Delete", @list, method: :delete, data: {confirm: 'Are you sure you want to delete this list?'} %>
    <%= link_to "Home", lists_path %>
    <%= link_to "Add movies", new_list_bookmark_path(@list) %>
  </div>
</div>

